@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
}

.add {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: bisque;
    color: #000;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.add:active {
    transform: scale(0.98);
}

